
   <h4>Generate</h4>
      <input  [(ngModel)]="name" placeholder = "name"  type = "text"> 
      <br/>
      <input [(ngModel)]="id" placeholder = "id" type = "text">
      <br/>
   <button class ="btn btn-success" (click)="generate()">generate</button>
   <h4>Delete</h4>
      <input [(ngModel)]="deleteId" placeholder = "id" type = "text">
      <br/>
   <button class ="btn btn-danger" (click)="delete()">delete</button>
   <h4>Edit</h4>
      <input [(ngModel)]="editName" placeholder = "name"  type = "text"> 
      <br/>
      <input [(ngModel)]="editId" placeholder = "id" type = "text">
      <br/>
   <button class ="btn btn-success" (click)="edit()">edit</button>

   <projects-component></projects-component>
